@font-face {
  font-family: "Hanken Grotesk";
  font-display: swap;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

:root {
  --minWidth: 17.5rem;
  --maxWidth-mobile: 23.4375rem;
  --maxWidth-desktop: 46rem;

  --ff-base: "Hanken Grotesk", sans-serif;
  --font-header: 1.1rem;
  --font-text: 1rem;
  --font-text-large: 1.1rem;
  --font-result-big: 3.5rem;
  --font-result-medium: 1.5rem;

  @media (min-width: 37.5rem) {
    --font-header: 1.5rem;
    --font-text: 1.1rem;
    --font-text-large: 1.2rem;
    --font-result-big: 4.5rem;
    --font-result-medium: 2rem;
  }

  --clr-white: hsl(0, 0%, 100%);
  --clr-paleBlue: hsl(221, 100%, 96%);
  --clr-lightLavender: hsl(241, 100%, 89%);
  --clr-darkGrayBlue: hsl(224, 30%, 27%);

  --clr-lightSlateBlue: hsl(252, 100%, 67%);
  --clr-lightRoyalBlue: hsl(241, 81%, 54%);

  --clr-violetBlue: hsla(256, 72%, 46%, 1);
  --clr-persianBlue: hsla(241, 72%, 46%, 0);

  --clr-lightRed: 0, 100%, 67%;
  --clr-orangeYellow: 39, 100%, 56%;
  --clr-greenTeal: 166, 100%, 37%;
  --clr-cobaltBlue: 234, 85%, 45%;

  --clr-background: var(--clr-paleBlue);
  --clr-resultText-primary: var(--clr-white);
  --clr-resultText-secondary: var(--clr-lightLavender);
  --clr-resultText-tertiary: #8478fd;
  --clr-summaryText-primary: var(--clr-darkGrayBlue);
  --clr-summaryText-secondary: #9e969f;
  --clr-summaryText-tertiary: var(--clr-white);

  --clr-cardBackground-primary: var(--clr-white);
  --clr-resultBackgroundGradient-1: var(--clr-lightSlateBlue);
  --clr-resultBackgroundGradient-2: var(--clr-lightRoyalBlue);
  --clr-circleGradient-1: var(--clr-violetBlue);
  --clr-circleGradient-2: var(--clr-persianBlue);
  --clr-cardBackground-secondary: var(--clr-darkGrayBlue);

  --clr-attribute-1: hsl(var(--clr-lightRed));
  --clr-attribute-2: hsl(var(--clr-orangeYellow));
  --clr-attribute-3: hsl(var(--clr-greenTeal));
  --clr-attribute-4: hsl(var(--clr-cobaltBlue));
}
